*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    width: 100%;
    height: 100vh;
    background-color: #FFF5E2;
}
header
{
    position: relative;
    width: 50%;
    height: 20%;
    margin: 0 auto;
    background-color: #FDBB40;
}
header h1
{
    padding: 2rem;
}
header img
{
    position: absolute;
    top: -20px;
    right: -25px;
    height: 150%;

    
}
main
{
    width: 50%;
    height: 65%;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
}
main h2
{
    padding: 2rem;
}
footer
{
    width: 50%;
    height: 15%;
    margin: 0 auto;
    background-color: #d33359;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ingredienti {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      ". ."
      ". ."
      ". .";
  }
  
.form_discount
{
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}
.form_discount input
{
    width: 70%;
    background-color: #fdbb4060;
}
main button
{
    background-color: #FDBB40;
    padding: .5rem 1rem;
}

footer span
{
    font-size: 1.5rem;
    padding: 2rem;
}